.header {
	.textWrapper {
		display: none;
	}
	.hero {
		position: relative;
		overflow: hidden;
		height: 100vh;
		width: 100%;
		z-index: 0;
		background-image: url("../images/background.png");
		background-position: bottom;
		background-repeat: repeat-x;

		.content {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			color: #fff;
			height: 100%;

			.logo {
				height: 20rem;
				border-radius: 50%;
			}

			.menuButton {
				margin-bottom: 2em;
				text-transform: uppercase;
				text-decoration: none;
				color: #fff;
				background-color: #00000070;
				padding: 1em 2em;
				font-size: 0.9rem;
				text-align: center;
				border: 1px solid white;
				border-radius: 15px;
				transition: background-color 0.5s;

				&:hover {
					background-color: #1d1d1d;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		.hero {
			.content {
				.logo {
					height: 30rem;
				}

				.menuButton {
					font-size: 1rem;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		.hero {
			.content {
				.logo {
					height: 35rem;
				}
				.menuButton {
					font-size: 1.1rem;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.header {
		position: relative;
		overflow: hidden;

		.textWrapper {
			display: flex;
			position: absolute;
			align-items: center;
			top: 40%;
			max-width: 6000px;
			left: 50%;
			transform: translate(-50%, -50%);
			white-space: nowrap; /* Zapobiega zawijaniu tekstu */
			.text {
				animation: scrollText 10000ms linear infinite; /* Animacja */
				font-size: 7rem;
				gap: 1;
				color: #ffffff0e;
				text-transform: uppercase;
				margin-right: 0 5rem; /* Odstęp między powtarzającymi się tekstami */
			}
		}
		.hero {
			.content {
				.logo {
					height: 40rem;
				}
				.menuButton {
					margin-bottom: 5em;
					font-size: 1.2rem;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	.header {
	

	.textWrapper {
		
		.text {
			font-size: 10rem;
			
		}
	}
		.hero {
			.content {
				padding: 4em;
				.logo {
					height: 45rem;
				}

				.menuButton {
					margin-bottom: 5.5em;
					font-size: 1.2rem;
				}
			}
		}
	}
}

@keyframes scrollText {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
