* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu {
    // height: 100vh;
    .menuTitle {
        padding-top: 1.5em;
        padding-bottom: 1em;
        text-shadow: #ff5757 2px 0 10px;
        // margin-top: 2em;
        margin-bottom: 1em;
        height: 3rem;
        letter-spacing: 2px;
        width: 100%;
        text-align: center;
        color: #ff5757;
        // text-transform: uppercase;
        font-size: 2.7rem;
    }

    .buttons {
        display: flex;
        justify-content: center;

        button {
            margin: 1em;
            padding: 1em 2em;
            font-size: 1rem;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            background-color: #000;
            border: 1px solid #fff;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    
	.menuItems {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;

	}
    .trimmings {
        color: #fff;
        margin: 1em;
        padding-bottom: 2em;
        text-align: center;
        letter-spacing: 2px;
        line-height: 2;
        span {
            color: #ff5757;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}




@media (min-width: 772px) {
	.menu {
        .menuTitle {
            font-size: 3.2rem;
        }
		

			.trimmings {
				font-size: 1.4rem;
			}
		
	}
}

@media (min-width: 992px) {
	.menu {
        .menuTitle {
            font-size: 3.5rem;
            margin-bottom: 0.5em;
        }
		
	}
}

@media (min-width: 1200px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        .menuTitle {
            font-size: 3.8rem;
        }

       

        .buttons {
            button {
                padding: 1.5em 4em;
                font-size: 1.1rem;
                transition: background-color .4s ;
                &:hover {
                    background-color: #111111;
                }
            }
        }
		
	}
}

@media (min-width: 1400px) {
	.menu {
        position: relative;
        width: 100%;

		.menuItems {
            // width: 100%;
        }

        .menuTitle {
            margin-bottom: 1em;
        }

       
		
	}
}
