body, html, #root, .App {
  margin: 0;
  padding: 0;
  
  background-color: #000;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.slick-prev,
.slick-next {
  z-index: 1;
  margin: 0 -2rem;
  width: 40px;
  height: 40px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: white; 
}
