.aboutSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
	background-color: #010101;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2em;
		width: 22rem;

		.card {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin: 0.2em;
			background-color: #020202;
			border-radius: 15px;

			.eaglesImg {
				border-radius: 15px;
				width: 6rem;
			}
		}
	}

	.text {
		text-align: center;
		margin: 1em;
		padding: 1em;
		line-height: 2em;
		color: #fff;
	}

	.rate {
		display: flex;
		flex-direction: column;
		text-align: center;
		color: #333;

		a {
			position: relative;
			font-size: 4.5rem;
			color: goldenrod;
			text-decoration: none;
		}
	}
}

@media (min-width: 768px) {
	.aboutSection {
		.container {
			.card .eaglesImg {
				width: 7rem;
			}
		}
		.text {
			margin: 0 4em;
		}
	}
}

@media (min-width: 992px) {
	.aboutSection {
		.container {
			justify-content: space-evenly;
			width: 28rem;

			.card .eaglesImg {
				width: 8.5rem;
			}
		}
		.text {
			font-size: 1.1rem;
			margin: 0 6rem;
		}
	}
}

@media (min-width: 1200px) {
	.aboutSection {
		.container {
			width: 35rem;
			.card .eaglesImg {
				width: 10rem;
			}
		}
	}
}

@media (min-width: 1400px) {
	.aboutSection {
		.container {
			width: 40rem;
			.card .eaglesImg {
				width: 12rem;
			}
		}
		.text {
			margin-top: 1em;
			font-size: 1.2rem;
			width: 45rem;
		}
		.rate a {
			font-size: 6rem;
		}
	}
}
