.eventsSection {
	background-color: #050505;
	overflow: hidden;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2em 1em;

		img {
			object-fit: cover;
			height: 20rem;
			width: 20rem;
			border: 5px solid white;
			border-radius: 50%;
		}

		.textBox {
			padding: 1em;
			width: 20rem;
			text-align: center;
			font-size: 0.9rem;
			color: #fff;
			line-height: 2rem;
		}
	}
}

@media (min-width: 772px) {
	.eventsSection .container {
		img {
			height: 25rem;
			width: 25rem;
		}

		.textBox {
			width: 25rem;
			font-size: 1rem;
		}
	}
}

@media (min-width: 992px) {
	.eventsSection .container {
		img {
			height: 30rem;
			width: 30rem;
		}

		.textBox {
			width: 80%;
			font-size: 1.1rem;
		}
	}
}

@media (min-width: 1200px) {
	.eventsSection .container {
		flex-direction: row;

		.textBox {
			line-height: 2.5;
		}
	}
}

@media (min-width: 1400px) {
	.eventsSection {
		padding: 2em;

		.container {
			position: relative;

			img {
				height: 35rem;
				width: 35rem;
				margin: 1rem;
			}

			.textBox {
				width: 50%;
				font-size: 1.1rem;
			}
		}
	}
}
