@font-face {
	font-family: 'TitleFont';
	src: url('./fonts/Oswald-VariableFont_wght.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.header {
	.textWrapper {
		display: none;
	}
	.hero {
		position: relative;
		overflow: hidden;
		height: 100vh;
		width: 100%;
		background-image: url("../images/background.png");
		background-position: bottom;
		background-repeat: repeat-x;

		.content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			color: #fff;

			.logo {
				height: 20rem;
				border-radius: 50%;
			}

			h1 {
				text-align: center;
				font-family: 'TitleFont', serif;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.3rem;
				color: #cecdcd;
			}
			.aboutText {
				text-align: center;
				padding: 1em;
				margin: 0 1rem;
				font-size: 0.9rem;
				font-weight: normal;
				color: #cecdcd;
			}

			.menuButton {
				margin-bottom: 3rem;
				text-transform: uppercase;
				color: #fff;
				background-color: #00000070;
				padding: 1em 2em;
				font-size: 0.9rem;
				text-decoration: none;
				border: 1px solid white;
				border-radius: 15px;
				transition: background-color 0.5s;

				&:hover {
					background-color: #1d1d1d;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.header .hero .content {
		.logo {
			height: 30rem;
		}
		h1 {
			font-size: 1.3rem;
		}
		.aboutText {
			padding: 2em 4em;
			font-size: 1.1rem;
		}
		.menuButton {
			font-size: 1rem;
		}
	}
}

@media (min-width: 992px) {
	.header .hero .content {
		.logo {
			height: 35rem;
		}
		h1 {
			font-size: 1.5rem;
		}
		.aboutText {
			padding: 1em 6em;
		}
		.menuButton {
			font-size: 1.1rem;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		.textWrapper {
			display: flex;
			position: absolute;
			align-items: center;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
			white-space: nowrap;

			.text {
				animation: scrollText 10000ms linear infinite;
				font-size: 7rem;
				color: #ffffff2a;
				text-transform: uppercase;
			}
		}

		.hero .content {
			.logo {
				height: 40rem;
			}

			h1 {
				font-size: 1.7rem;
			}
			.aboutText {
				padding: 0 8em;
				line-height: 2;
				margin: 0 4rem 2rem;
			}
			.menuButton {
				margin-bottom: 5.5em;
				font-size: 1.1rem;
			}
		}
	}
}

@media (min-width: 1400px) {
	.header .textWrapper .text {
		font-size: 10rem;
	}

	.header .hero .content {
		padding: 4em;

		.logo {
			height: 45rem;
		}
		h1 {
			font-size: 1.9rem;
			margin-bottom: 0.5rem;
		}

		.aboutText {
			padding: 0 18em;
			margin: 0 6rem 1rem;
		}
		.menuButton {
			margin-bottom: 5.5em;
		}
	}
}

@keyframes scrollText {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
