@font-face {
	font-family: 'TitleFont';
	src: url('./fonts/Oswald-VariableFont_wght.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
.list {
	list-style: none;
	padding: 0 1em;

	.listItem {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
		border-top: 1px solid white;
		margin-top: 0.5em;

		.title {
			text-align: center;
			margin-top: 0.5em;
			font-size: 1.8rem;
			font-weight: bold;
			text-transform: uppercase;
			font-family: 'TitleFont', serif;
		}

		.menuIcons {
			display: flex;
			justify-content: center;

			.icon {
				margin: 0.2em 0;
				height: 25px;
				width: 25px;
			}
		}

		.description {
			text-align: center;
			line-height: 2;
			padding: 0 1em;
			margin-top: 0.5em;
		}

		.price {
			padding: 0.5em 1em;
			margin: 0.5em;
			font-size: 1.6rem;
			letter-spacing: 2px;
			color: #ff5757;
			text-align: center;
			font-weight: bold;
		}
	}
}

@media (min-width: 772px) {
	.list {
		.listItem {
			padding: 1.5em;

			.title {
				margin-top: 0.5em;
			}
		}
	}
}

@media (min-width: 992px) {
	.list {
		.listItem {
			padding: 2em;

			.title {
				margin-top: 0.7em;
			}

			.description {
				font-size: 1.1rem;
			}
		}
	}
}

@media (min-width: 1400px) {
	.list {
		display: flex;
		justify-content: center;
		margin-top: 1em;
		padding: 0 3em;

		.listItem {
			width: 50%;
			padding: 0;

			.title {
				font-size: 2rem;
			}

			.description {
				padding: 0 1em;
			}
		}
	}
}
